.more-about {
    padding: 54px 30px 94px 30px;
    background: #f5f5f5;
    text-align: center;
    h1 {
        font-family: $neoSansBold;
    }

    &__cards-desktop-list {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding-top: 50px;
        > :not(:last-child) {
            margin-right: 100px;
        }
    }

    &__card {
        width: 220px;
        height: 278px;
        display: flex;
        flex-direction: column;
        align-items: center;
        div:first-of-type {
            height: 189px;
            width: 189px;
            border-radius: 100%;
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
            position: relative;
        }

        &--1 {
            img {
                height: 189px;
                width: 189px;
                border-radius: 100%;
            }
        }
        &--2,
        &--3,
        &--4 {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--2 {
            img {
                width: 160px;
                z-index: 1;
                border-radius: 4px;
            }
        }

        &--3 {
            img {
                width: 90%;
            }
        }

        &--4 {
            img {
                width: 94%;
                object-fit: contain;
            }
        }

        p {
            margin-top: 20px;
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: #7a7a7a;
            width: 200px;
            span {
                color: #474747;
                font-weight: 700;
            }
        }
    }
    &__slider {
        display: none;
    }

    @media screen and (max-width: 1131px) {
        &__cards-desktop-list {
            > :not(:last-child) {
                margin-right: 50px;
            }
        }
    }

    @media screen and (max-width: $laptop) {
        &__cards-desktop-list {
            flex-wrap: wrap;
            > :not(:last-child) {
                margin-right: 20px;
            }
        }

        &__card {
            margin-top: 30px;
        }
    }
    @media screen and (max-width: $mobile) {
        h1 {
            font-size: 15px;
            width: 200px;
            margin: 0 auto;
        }

        &__cards-desktop-list {
            display: none;
        }

        &__slider {
            height: 400px;
            position: relative;
            // background: red;
            transition: 1s;
            overflow: hidden;
            display: block;
            &.slide {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                &--1 {
                    z-index: 4;
                }
                &--2 {
                    z-index: 3;
                }
                &--3 {
                    z-index: 2;
                }
                &--4 {
                    z-index: 1;
                }
            }
        }
        p {
            margin-top: 20px;
        }

        &__text {
            color: #7a7a7a;
        }

        &__card--4 {
            width: 300px;
            height: 300px;
            flex-direction: column;
            > div {
                border-radius: 100%;
                box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
            }

            .more-about__img {
                border-radius: 100%;
                width: 180px;
                height: 180px;
                margin: 0 auto;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }

        &__dots {
            display: flex;
            justify-content: center;
        }
        &__dot {
            z-index: 33;
            border: none;
            background: #d2d2d2;
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            margin-right: 1.75rem;
            cursor: pointer;
            transition: all 0.5s;
            &:last-child {
                margin: 0;
            }
            &--active {
                background-color: #b6116e;
                opacity: 1;
            }
        }
    }
}
