.podcast {
    background: #3c214b;
    height: 667px;
    color: $white;
    padding: 90px 30px;

    &__wrapper {
        display: flex;
        justify-content: center;
    }

    &__social-media {
        font-size: 16px;
        margin-right: 80px;
        width: 440px;
        h1 {
            font-family: 'Open Sans', sans-serif;
            font-size: 4rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-align: end;
            span {
                font-weight: 700;
                font-family: 'neoSans';
            }
        }
        h2 {
            font-family: 'neoSans';
            font-size: 2rem;
            font-weight: 200;
            text-transform: lowercase;
            letter-spacing: 2px;
            text-align: end;
        }

        p {
            line-height: 1.7;
            margin-top: 47px;
            margin-bottom: 50px;
        }

        ul {
            display: flex;
            align-items: center;
            justify-content: center;

            div:first-of-type {
                margin-right: 10px;
            }

            li {
                width: 201px;
                height: 55px;
                padding: 5px;
                background: #131015;
                list-style: none;
                border: 1px solid #848d92;
                border-radius: 7px;
                margin-bottom: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }

    &__logo {
        position: relative;
    }

    &__banner {
        img {
            max-width: 100%;
        }
    }

    &__text {
        position: absolute;
        font-family: 'neoSans';
        padding: 44px 60px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        > div:first-of-type {
            .podcast__microphone-icon {
                position: absolute;
                top: 40px;
                left: 50px;
                img {
                    width: 150px;
                }
            }

            .podcast__main-logo {
                width: 200px;
                position: absolute;
                margin: 0 auto;
                right: 50%;
                top: 40%;
                transform: translate(50%, -50%);
                z-index: 1;
                img {
                    width: 100%;
                }
            }
        }

        p:first-of-type {
            font-size: 20.47px;
            align-self: flex-start;
            margin-top: 20px;
        }

        p:last-of-type {
            font-size: 25.03px;
            max-width: 265.42px;
            margin-top: 23px;
            align-self: flex-start;
            font-weight: 700;
        }
    }

    &__mobile-text {
        display: none;
    }

    &__blocks {
        position: absolute;
        width: 170px;
        left: 0;
        bottom: 3px;
    }

    @media screen and (max-width: $laptop) {
        height: auto;
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        &__social-media {
            margin: 0 0 50px 0;
        }
    }

    @media screen and (max-width: 510px) {
        &__text {
            padding: 30px 30px;
        }

        > div:first-of-type {
            .podcast__microphone-icon {
                position: absolute;
                top: 20px;
                left: 30px;
                img {
                    width: 90px;
                }
            }

            .podcast__main-logo {
                width: 100px;
            }
        }

        &__desktop-text {
            display: none;
        }
        &__mobile-text {
            display: block;
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 60px;

        &__text {
            h1 {
                font-size: 12.62px;
            }

            p:first-of-type {
                font-size: 10.75px;
                margin-top: 5px;
            }

            p:last-of-type {
                font-size: 13.14px;
                margin-top: 10px;
            }
        }

        &__social-media {
            width: auto;
            text-align: center;
            h1 {
                font-size: 3rem;
                text-align: center;
            }

            ul {
                li {
                    width: 130px;
                    height: 40px;
                }
            }
        }

        &__blocks {
            position: absolute;
            width: 100px;
            left: 0;
            bottom: 5px;
        }
    }

    @media screen and (max-width: 400px) {
        &__text {
            > div:first-of-type {
                .podcast__microphone-icon {
                    top: 10px;
                    left: 10px;
                    img {
                        width: 60px;
                    }
                }

                .podcast__main-logo {
                    top: 30%;
                    width: 90px;
                }
            }
        }
    }

    @media screen and (max-width: 330px) {
        padding: 60px 30px;
        &__text {
            padding: 30px 4px 30px 20px;
            > div:first-of-type {
                p:first-of-type {
                    margin-top: 10px;
                }

                p:last-of-type {
                    margin-top: 0px;
                }
            }
        }
    }
}
