@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.header {
  height: 350px;
  width: 100%;
  padding: 20px;
  position: relative;
  font-family: neoSans;
  color: #ffffff;
}

.header__slider_controls {
  height: 300px;
  position: relative;
}

.header__button {
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.header__button svg {
  height: 15px;
  color: #000000;
}

.header__button--left {
  left: 0;
}

.header__button--left svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

.header__button--right {
  right: 0;
}

.header__button--right svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

.header__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
}

.header__slider h1 {
  letter-spacing: 5px;
  font-size: 3.5rem;
}

.header__slide {
  background-color: #00b495;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__slide--2 {
  background: #c81a79;
}

.header__slide--3 {
  background: #f2674a;
}

.header__dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__dot {
  border: none;
  background: #ffffff;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__dot:last-child {
  margin: 0;
}

.header__dot--active {
  background-color: #f79552;
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .header__button {
    width: 30px;
    height: 30px;
  }
  .header__button svg {
    height: 12px;
    color: #000000;
  }
}

.wines {
  min-height: 588px;
  background: #f5f5f5;
  text-align: center;
  padding: 60px 40px;
}

.wines__menu {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.wines__menu span {
  cursor: pointer;
}

.wines__menu span.menu__active {
  padding-bottom: 10px;
  border-bottom: 2px solid #c81a78;
}

.wines__menu span:first-of-type {
  color: #c81a78;
  margin-right: 16px;
}

.wines__menu span:last-of-type {
  color: #888888;
}

.wines__wrapper {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wines__wrapper > :not(:last-child) {
  margin-right: 20px;
}

.wines__item {
  width: 222px;
  min-width: 222px;
  height: 100%;
  border-radius: 4px;
}

.wines__wine {
  height: 370px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.wines__image {
  height: 181.82px;
  position: relative;
}

.wines__image--heart {
  right: 10px;
  top: 10px;
  position: absolute;
}

.wines__image--red_wine {
  position: absolute;
  bottom: 35px;
  left: 10px;
}

.wines__image--bottle {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wines__image--country {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 16px;
}

.wines__title {
  font-size: 14px;
  font-weight: 700;
  min-height: 50px;
}

.wines__old-price {
  margin: 20px 0;
  height: 16px;
  position: relative;
}

.wines__old-price span:first-of-type {
  color: #555555;
  font-weight: 700;
  margin-right: 10px;
}

.wines__old-price span:first-of-type::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  top: 12px;
  background: #555555;
  z-index: 4;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.wines__old-price span:last-of-type {
  background: #ee3e80;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  border-radius: 2px;
  padding: 3px;
}

.wines__socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wines__socio > div:first-of-type {
  line-height: 1;
  margin-right: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: #555555;
  font-size: 10px;
}

.wines__socio > div:last-of-type {
  font-weight: 700;
  color: #c81a78;
}

.wines__socio__price {
  font-size: 1.5rem;
}

.wines__nao-socio {
  margin-top: 10px;
  font-size: 10px;
  color: #888888;
}

.wines__nao-socio span:first-child {
  text-transform: uppercase;
  font-weight: 400;
}

.wines button {
  background: #7ebc43;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
}

.payment {
  height: 408px;
  max-width: 870px;
  padding: 48px 0 0 0;
  background: #ffffff;
  margin: 0 auto;
}

.payment h1 {
  font-family: neoSans;
  text-align: center;
  font-size: 24px;
  color: #002b46;
}

.payment h1 span:first-of-type {
  font-family: 'neoSansBold';
}

.payment h1 span:last-of-type {
  color: #c81a78;
}

.payment__cards {
  width: 400px;
}

.payment__arrow-right {
  margin-left: -50px;
}

.payment__credit-cards {
  height: 100%;
  padding: 45px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__credit-cards div:last-of-type {
  min-height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.payment__credit-cards div:last-of-type img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

.benefits {
  font-family: 'neoSansBold';
  text-align: center;
  padding: 56px 0 90px 0;
  background: #f5f5f5;
}

.benefits h1 {
  color: #111111;
  margin-bottom: 59px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__item {
  position: relative;
  cursor: pointer;
  width: 274px;
  height: 83px;
  background: #ffffff;
  border-radius: 4.6px;
  padding: 20px;
  list-style: none;
  -webkit-box-shadow: 0px 2.29771px 5.74428px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2.29771px 5.74428px rgba(0, 0, 0, 0.05);
}

.benefits__item:not(:last-child) {
  margin-right: 25px;
}

.benefits__white-stick {
  position: absolute;
  left: -2px;
  top: 15px;
  z-index: 5;
}

.benefits__icon {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
}

.benefits__icon--over {
  z-index: 3;
}

.benefits__icon--under {
  z-index: 2;
}

.benefits__arrow-right {
  position: absolute;
  color: #333333;
  height: 1.2rem;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits__text {
  margin: 0 auto;
  width: 180px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__text p {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #555555;
  height: 40px;
  line-height: 1.5;
}

.benefits__main-icon {
  position: relative;
  width: 40px;
}

.benefits__main-icon--money {
  position: absolute;
  top: -10px;
  left: -10px;
}

.benefits__main-icon--gift {
  position: absolute;
  top: -10px;
  left: -10px;
}

@font-face {
  font-family: 'neoSans';
  src: url("../fonts/NeoSansStdTR.ttf") format("truetype");
}

@font-face {
  font-family: 'neoSansBold';
  src: url("../fonts/NeoSans Bold.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1190px;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */