@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap");
.header {
  height: 350px;
  width: 100%;
  padding: 30px;
  position: relative;
  font-family: "neoSans";
  color: #ffffff;
}

.header__slider_controls {
  height: 300px;
  position: relative;
}

.header__button {
  background: #ffffff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 48px;
  height: 48px;
  font-size: 20px;
  cursor: pointer;
  border: none;
}

.header__button svg {
  height: 15px;
  color: #000000;
}

.header__button--left {
  left: 0;
}

.header__button--left svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-70%, -50%);
          transform: translate(-70%, -50%);
}

.header__button--right {
  right: 0;
}

.header__button--right svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-30%, -50%);
          transform: translate(-30%, -50%);
}

.header__slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow-x: hidden;
}

.header__slider h1 {
  letter-spacing: 5px;
  font-size: 3.5rem;
}

.header__slide {
  background-color: #00b495;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__slide--2 {
  background: #c81a79;
}

.header__slide--3 {
  background: #f2674a;
}

.header__dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: none;
}

.header__dot {
  border: none;
  background: white;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header__dot:last-child {
  margin: 0;
}

.header__dot--active {
  background-color: #f79552;
  opacity: 1;
}

@media screen and (max-width: 1400px) {
  .header__button {
    width: 30px;
    height: 30px;
  }
  .header__button svg {
    height: 12px;
    color: #000000;
  }
}

@media screen and (max-width: 480px) {
  .header__button {
    display: none;
  }
  .header__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__slider h1 {
    letter-spacing: 5px;
    font-size: 40px;
  }
}

.wines {
  min-height: 588px;
  background: #f5f5f5;
  text-align: center;
  padding: 60px 0px 60px 30px;
}

.wines__menu {
  font: 700  16px Lato, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 16px;
  border-bottom: 1px solid #cccccc;
}

.wines__menu span {
  cursor: pointer;
}

.wines__menu span.menu__active {
  padding-bottom: 10px;
  border-bottom: 2px solid #c81a78;
}

.wines__menu span:first-of-type {
  color: #c81a78;
  margin-right: 16px;
}

.wines__menu span:last-of-type {
  color: #888888;
}

.wines__wrapper {
  font-family: 'Lato', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wines__wrapper > :not(:last-child) {
  margin-right: 20px;
}

.wines__item {
  width: 222px;
  min-width: 222px;
  height: 100%;
  border-radius: 4px;
}

.wines__wine {
  height: 370px;
  background: #ffffff;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.wines__image {
  height: 181.82px;
  position: relative;
}

.wines__image--heart {
  right: 10px;
  top: 10px;
  position: absolute;
}

.wines__image--red_wine {
  position: absolute;
  bottom: 35px;
  left: 10px;
}

.wines__image--bottle {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.wines__image--country {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 16px;
}

.wines__title {
  font-size: 14px;
  font-weight: 700;
  min-height: 50px;
}

.wines__old-price {
  margin: 20px 0;
  height: 16px;
  position: relative;
}

.wines__old-price span:first-of-type {
  color: #555555;
  font-weight: 700;
  margin-right: 10px;
}

.wines__old-price span:first-of-type::before {
  content: '';
  position: absolute;
  width: 75px;
  height: 1px;
  top: 12px;
  background: #555555;
  z-index: 4;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.wines__old-price span:last-of-type {
  background: #ee3e80;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 2px;
  padding: 3px;
}

.wines__socio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wines__socio > div:first-of-type {
  font-weight: 300;
  font-size: 10px;
  line-height: 1;
  margin-right: 10px;
  text-transform: uppercase;
  color: #555555;
}

.wines__socio > div:last-of-type {
  font-weight: 700;
  color: #c81a78;
}

.wines__socio__price {
  font-size: 1.5rem;
}

.wines__nao-socio {
  font-size: 10px;
  margin-top: 10px;
  color: #888888;
}

.wines__nao-socio span:first-child {
  text-transform: uppercase;
  font-weight: 400;
}

.wines button {
  font-size: 14px;
  font-weight: 700;
  background: #7ebc43;
  cursor: pointer;
  color: #ffffff;
  margin-top: 20px;
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 4px;
}

@media screen and (max-width: 1238px) {
  .wines__wrapper {
    overflow-x: scroll;
  }
}

.payment {
  height: 408px;
  max-width: 870px;
  padding: 48px 30px 48px 30px;
  background: #ffffff;
  margin: 0 auto;
}

.payment h1 {
  font-family: "neoSans";
  font-size: 24px;
  text-align: center;
  color: #002b46;
}

.payment h1 span:first-of-type {
  font-family: "neoSansBold";
}

.payment h1 span:last-of-type {
  color: #c81a78;
}

.payment__cards {
  width: 400px;
}

.payment__arrow-right {
  margin-left: -50px;
}

.payment__arrow-down {
  display: none;
}

.payment__credit-cards {
  height: 100%;
  padding: 45px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.payment__credit-cards div:last-of-type {
  min-height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100%;
  -webkit-box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 15px 2px rgba(0, 0, 0, 0.3);
}

.payment__credit-cards div:last-of-type img {
  width: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 860px) {
  .payment__credit-cards {
    padding: 45px 30px;
  }
}

@media screen and (max-width: 768px) {
  .payment {
    height: auto;
  }
  .payment__credit-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .payment__arrow-right {
    display: none;
  }
  .payment__arrow-down {
    display: block;
    margin: 40px 0;
  }
}

@media screen and (max-width: 480px) {
  .payment h1 {
    font-size: 15px;
    line-height: 23px;
  }
  .payment__cards {
    width: 300px;
  }
}

.benefits {
  font-family: "neoSansBold";
  text-align: center;
  padding: 56px 30px 90px 30px;
  background: #f5f5f5;
}

.benefits h1 {
  color: #111111;
  margin-bottom: 59px;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__item {
  position: relative;
  cursor: pointer;
  width: 274px;
  height: 83px;
  background: #ffffff;
  border-radius: 4.6px;
  padding: 20px;
  list-style: none;
  -webkit-box-shadow: 0px 2.29771px 5.74428px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 2.29771px 5.74428px rgba(0, 0, 0, 0.05);
}

.benefits__item:not(:last-child) {
  margin-right: 25px;
}

.benefits__white-stick {
  position: absolute;
  left: -2px;
  top: 15px;
  z-index: 5;
}

.benefits__icon {
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 4px;
}

.benefits__icon--over {
  z-index: 3;
}

.benefits__icon--under {
  z-index: 2;
}

.benefits__arrow-right {
  position: absolute;
  color: #333333;
  height: 1.2rem;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.benefits__text {
  margin: 0 auto;
  width: 180px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__text p {
  margin-left: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  color: #555555;
  height: 40px;
  line-height: 1.5;
}

.benefits__main-icon {
  position: relative;
  width: 40px;
}

.benefits__main-icon--money {
  position: absolute;
  top: -10px;
  left: -10px;
}

.benefits__main-icon--gift {
  position: absolute;
  top: -10px;
  left: -10px;
}

.benefits__main-icon--off {
  max-width: 20px;
}

@media screen and (max-width: 1200px) {
  .benefits__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits__item {
    margin: 25px 25px 0 0;
  }
}

@media screen and (max-width: 504px) {
  .benefits__item {
    margin-right: 0px;
  }
  .benefits__item:not(:last-child) {
    margin-right: 0px;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 6;
}

.modal {
  position: fixed;
  z-index: 7;
  width: 300px;
  height: 369px;
  right: 50%;
  bottom: 50%;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background: #ffffff;
  border-radius: 2px;
  padding: 30px 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal__close {
  position: absolute;
  cursor: pointer;
  height: 12.73px;
  right: 12px;
  top: 12px;
}

.modal h1 {
  font-family: "neoSans";
  font-weight: 400;
  font-size: 18px;
}

.modal__icon-wrapper {
  width: 112px;
  height: 112px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__icon-wrapper img {
  width: 90px;
}

.modal p {
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  color: #555555;
  line-height: 1.7;
}

.more-about {
  padding: 54px 0px 94px 0px;
  background: #f5f5f5;
  text-align: center;
}

.more-about h1 {
  font-family: "neoSansBold";
}

.more-about__cards-desktop-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding-top: 50px;
}

.more-about__cards-desktop-list > :not(:last-child) {
  margin-right: 100px;
}

.more-about__card {
  width: 220px;
  height: 278px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.more-about__card div:first-of-type {
  height: 189px;
  width: 189px;
  border-radius: 100%;
  -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  position: relative;
}

.more-about__card--1 img {
  height: 189px;
  width: 189px;
  border-radius: 100%;
}

.more-about__card--2, .more-about__card--3, .more-about__card--4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.more-about__card--2 img {
  width: 160px;
  z-index: 1;
  border-radius: 4px;
}

.more-about__card--3 img {
  width: 90%;
}

.more-about__card--4 img {
  width: 94%;
  -o-object-fit: contain;
     object-fit: contain;
}

.more-about__card p {
  margin-top: 20px;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #7a7a7a;
  width: 200px;
}

.more-about__card p span {
  color: #474747;
  font-weight: 700;
}

.more-about__slider {
  display: none;
}

@media screen and (max-width: 1024px) {
  .more-about__cards-desktop-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .more-about__cards-desktop-list > :not(:last-child) {
    margin-right: 20px;
  }
  .more-about__card {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  .more-about h1 {
    font-size: 15px;
    width: 200px;
    margin: 0 auto;
  }
  .more-about__cards-desktop-list {
    display: none;
  }
  .more-about__slider {
    height: 400px;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
    overflow: hidden;
    display: block;
  }
  .more-about__slider.slide {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-about__slider.slide--1 {
    z-index: 4;
  }
  .more-about__slider.slide--2 {
    z-index: 3;
  }
  .more-about__slider.slide--3 {
    z-index: 2;
  }
  .more-about__slider.slide--4 {
    z-index: 1;
  }
  .more-about p {
    margin-top: 20px;
  }
  .more-about__text {
    color: #7A7A7A;
  }
  .more-about__card--4 {
    width: 300px;
    height: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .more-about__card--4 > div {
    border-radius: 100%;
    -webkit-box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.2);
  }
  .more-about__card--4 .more-about__img {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin: 0 auto;
    overflow: hidden;
  }
  .more-about__card--4 .more-about__img img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .more-about__dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .more-about__dot {
    z-index: 33;
    border: none;
    background: #D2D2D2;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    margin-right: 1.75rem;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .more-about__dot:last-child {
    margin: 0;
  }
  .more-about__dot--active {
    background-color: #B6116E;
    opacity: 1;
  }
}

.podcast {
  background: #3c214b;
  height: 667px;
  color: #ffffff;
  padding: 90px 30px;
}

.podcast__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.podcast__social-media {
  font-size: 16px;
  margin-right: 80px;
  width: 440px;
}

.podcast__social-media h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: end;
}

.podcast__social-media h1 span {
  font-weight: 700;
  font-family: "neoSans";
}

.podcast__social-media h2 {
  font-family: "neoSans";
  font-size: 2rem;
  font-weight: 200;
  text-transform: lowercase;
  letter-spacing: 2px;
  text-align: end;
}

.podcast__social-media p {
  line-height: 1.7;
  margin-top: 47px;
  margin-bottom: 50px;
}

.podcast__social-media ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.podcast__social-media ul div:first-of-type {
  margin-right: 10px;
}

.podcast__social-media ul li {
  width: 201px;
  height: 55px;
  padding: 5px;
  background: #131015;
  list-style: none;
  border: 1px solid #848d92;
  border-radius: 7px;
  margin-bottom: 10px;
}

.podcast__social-media ul li img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.podcast__logo {
  position: relative;
}

.podcast__banner img {
  max-width: 100%;
}

.podcast__text {
  position: absolute;
  font-family: "neoSans";
  padding: 44px 60px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.podcast__text > div:first-of-type .podcast__microphone-icon {
  position: absolute;
  top: 40px;
  left: 50px;
}

.podcast__text > div:first-of-type .podcast__microphone-icon img {
  width: 150px;
}

.podcast__text > div:first-of-type .podcast__main-logo {
  width: 200px;
  position: absolute;
  margin: 0 auto;
  right: 50%;
  top: 40%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 1;
}

.podcast__text > div:first-of-type .podcast__main-logo img {
  width: 100%;
}

.podcast__text p:first-of-type {
  font-size: 20.47px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 20px;
}

.podcast__text p:last-of-type {
  font-size: 25.03px;
  max-width: 265.42px;
  margin-top: 23px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 700;
}

.podcast__mobile-text {
  display: none;
}

.podcast__blocks {
  position: absolute;
  width: 170px;
  left: 0;
  bottom: 3px;
}

@media screen and (max-width: 1024px) {
  .podcast {
    height: auto;
  }
  .podcast__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .podcast__social-media {
    margin: 0 0 50px 0;
  }
}

@media screen and (max-width: 510px) {
  .podcast__text {
    padding: 30px 30px;
  }
  .podcast > div:first-of-type .podcast__microphone-icon {
    position: absolute;
    top: 20px;
    left: 30px;
  }
  .podcast > div:first-of-type .podcast__microphone-icon img {
    width: 90px;
  }
  .podcast > div:first-of-type .podcast__main-logo {
    width: 100px;
  }
  .podcast__desktop-text {
    display: none;
  }
  .podcast__mobile-text {
    display: block;
  }
}

@media screen and (max-width: 480px) {
  .podcast {
    padding: 60px;
  }
  .podcast__text h1 {
    font-size: 12.62px;
  }
  .podcast__text p:first-of-type {
    font-size: 10.75px;
    margin-top: 5px;
  }
  .podcast__text p:last-of-type {
    font-size: 13.14px;
    margin-top: 10px;
  }
  .podcast__social-media {
    width: auto;
    text-align: center;
  }
  .podcast__social-media h1 {
    font-size: 3rem;
    text-align: center;
  }
  .podcast__social-media ul li {
    width: 130px;
    height: 40px;
  }
  .podcast__blocks {
    position: absolute;
    width: 100px;
    left: 0;
    bottom: 5px;
  }
}

@media screen and (max-width: 400px) {
  .podcast__text > div:first-of-type .podcast__microphone-icon {
    top: 10px;
    left: 10px;
  }
  .podcast__text > div:first-of-type .podcast__microphone-icon img {
    width: 60px;
  }
  .podcast__text > div:first-of-type .podcast__main-logo {
    top: 30%;
    width: 90px;
  }
}

@media screen and (max-width: 330px) {
  .podcast {
    padding: 60px 30px;
  }
  .podcast__text {
    padding: 30px 4px 30px 20px;
  }
  .podcast__text > div:first-of-type p:first-of-type {
    margin-top: 10px;
  }
  .podcast__text > div:first-of-type p:last-of-type {
    margin-top: 0px;
  }
}

@font-face {
  font-family: 'neoSans';
  src: url("../fonts/NeoSansStdTR.ttf") format("truetype");
}

@font-face {
  src: url("../fonts/NeoSans Bold.ttf") format("truetype");
  font-family: 'neoSansBold';
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.app {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1220px;
  height: 100%;
  margin: 0 auto;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=styles.css.map */