@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400;1,500;1,600&display=swap');
@import './variables';
@import './header';
@import './wines';
@import './payment';
@import './benefits';
@import './modal';
@import './more-about';
@import './podcast';

@font-face {
    font-family: 'neoSans';
    src: url('../fonts/NeoSansStdTR.ttf') format('truetype');
}

@font-face {
    src: url('../fonts/NeoSans\ Bold.ttf') format('truetype');
    font-family: 'neoSansBold';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.app {
    max-width: 1920px;
    margin: 0 auto;
}

.container {
    max-width: 1220px;
    height: 100%;
    margin: 0 auto;
}

.hidden {
    display: none;
}
